[submodule "stackvm-tools"]
	path = stackvm-tools
	url = https://github.com/OrangeTide/stackvm-tools.git
[submodule "src/thirdparty/libwebsockets"]
	path = src/thirdparty/libwebsockets
	url = https://libwebsockets.org/repo/libwebsockets
	branch = v4.3-stable
