.DS_Store
.vscode
.cache

*~
gmon.out
.*.swp
junk*/
/OLD

*.o
*.a
*.so
*.dll
*.lib
*.exe

# ignore database
/data/users/*
data/muddb

# ignore build & release artifacts
/_build
/_out
/compile_commands.json
/bin

boris-*.tar.xz

boris.log
.env
*.env
core

# ignore AI junk
.claude
CLAUDE.md
