.DS_Store
.vscode
.cache

*~
gmon.out
.*.swp
junk*/
/OLD

*.o
*.a
*.so
*.dll
*.lib
*.exe

/data/users/*
/_build
/_out
/compile_commands.json

boris-*.tar.xz

boris.log
.env
*.env
core

# ignore AI junk
.claude
